:root {
    --color-secondary-foreground: rgba(107, 107, 107, 1);
    --color-foreground: rgba(11, 11, 11, 1);
    --color-foregound-hint: rgb(39, 99, 189);
    --color-title-highlight: #f1a600;
    --color-icon-fill: rgba(54, 54, 54, 1);
    --color-skill-5: rgb(21, 53, 75);
    --color-skill-4: rgb(57, 103, 143);
    --color-skill-3: rgb(107, 157, 201);
    --color-skill-2: rgb(179, 193, 206);
    --color-skill-1: rgb(220, 221, 214);

    --font-serif: 'Frank Ruhl Libre', serif;
    --font-sans-serif: 'Inter', sans-serif;

    /* default foreground color */
    color: var(--color-foreground);
}

.text-subtitle {
    font-size: 12px;
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;

    color: var(--color-secondary-foreground);
}

.text-body {
    font-size: 14px;
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-decoration: none;
    text-transform: none;
}

.text-experience-title {
    font-size: 16px;
    font-family: var(--font-serif);
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
}

.text-section-title {
    font-size: 14px;
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;

    color: var(--color-foregound-hint);
}

.text-header-subtitle {
    font-size: 14px;
    font-family: var(--font-sans-serif);
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;

    color: var(--color-title-highlight);
}

.text-header-title {
    font-size: 52px;
    font-family: var(--font-serif);
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
}

.text-contact-item {
    font-size: 12px;
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
}