h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background: #5A6072;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#print-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.75rem;

    outline: none;
    border: none;
    border-radius: 50%;
    background: rgb(2, 130, 168);
    font-size: 1rem;
    font-family: var(--font-sans-serif);
    font-weight: 600;
    color: rgb(49, 49, 49);
    cursor: pointer;
}

#print-button img {
    width: 2rem;
    height: 2rem;

    filter: invert(1);
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.bg-video {
    width: 100%;
    height: 100%;

    object-fit: cover;

    opacity: 0.5;
    will-change: opacity;
    transition-duration: 20ms;
    filter: invert(1) hue-rotate(40deg) brightness(60%);
}

.page-frame {
    max-width: 814px;
    width: 100%;
    padding: 64px;
    background: #F5F5F5;
    box-shadow: 3px 3px 13px -3px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
}

section {
    margin-bottom: 1.5rem;
}

.header-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 1rem;
}

.header-main {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 8px;
}

.header-main h1 {}

.header-main p {}

.contact-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;
}

.contact-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    white-space: nowrap;
}

.contact-icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.contact-label {}

h2.section-title {
    margin-bottom: 0.75rem;
}

.experience {
    margin-bottom: 1.25rem;
}

.experience h3 {
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.with-underline {
    border-bottom: 1px solid var(--color-foregound-hint);
}

.experience-title {}

.experience-subinfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.experience-date {}

ul.experience-list {
    padding-inline-start: 26px;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
}

ul.experience-list li {}

.skills-title-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.skills-legend {
    display: flex;
    align-items: center;
    height: fit-content;
    height: 17px;
}

.skills-swatch {
    display: flex;
    margin: 0 10px;
}

.swatch {
    width: 37px;
    height: 12px;
    -webkit-print-color-adjust: exact;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.3rem;
}

.skills-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.skills-level-box {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    -webkit-print-color-adjust: exact;
}


@media print {
    body {
        background: none;
        padding: 0;
    }

    .video-container {
        display: none;
    }

    .bg-video {
        display: none;
    }

    .page-frame {
        width: 100%;
        padding: 0;
        background: none;
        box-shadow: none;
        transform: none !important;
    }

    .contact-label a {
        text-decoration: none;
        color: initial;
    }
}

@media screen and (max-width: 952px) {
    .bg-video {
        opacity: 0;
    }
}

@media screen and (max-width: 830px) {
    body {
        padding: 1rem;
    }
}

@media screen and (max-width: 794px) {
    .page-frame {
        padding: 32px;
    }

    section {
        margin-bottom: 2.5rem;
    }

    .experience {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 720px) {
    .page-frame {
        padding: 32px;
    }

    .header-section {
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-bottom: 2rem;
    }

    .header-main {
        margin-bottom: 1rem;
    }

    .contact-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

@media screen and (max-width: 671px) {
    .skills-title-section {
        flex-flow: column nowrap;
        margin-bottom: 1rem;
    }

    .skills-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 573px) {
    body {
        padding: 0.2rem;
    }

    .page-frame {
        padding: 24px;
    }

    .skills-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (max-width: 497px) {
    .header-main h1 {
        font-size: 36px;
        margin-bottom: 0.2rem;
    }

    .header-main p {
        display: flex;
        flex-flow: column;
        margin-bottom: 0.5rem;
    }

    .header-main .separator {
        display: none;
    }

    .contact-container {
        margin-bottom: 0.5rem;
    }

    .experience-subinfo {
        flex-flow: column-reverse nowrap;
        gap: 0.1rem;
    }

    .skills-list {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 438px) {
    .contact-container {
        grid-template-columns: 1fr;
    }

    .experience h3 {
        display: flex;
        flex-flow: column nowrap;
    }

    .experience .separator {
        display: none;
    }

    .swatch {
        width: 24px;
    }
}

@media screen and (max-width: 383px) {
    .header-main h1 {
        font-size: 28px;
    }

    .swatch {
        width: 16px;
    }
}